/* The Color Scheme

Blue, Green, and white:
blue=rgba(35,54,111,.95);
Green = #499557
white 

*/
.current{
    text-decoration:overline underline;
}
.navbar{
    background: rgba(35,54,111,.95);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    height: 80px;
    z-index:1;
    width:100%;
    max-width: 1300px;
    margin:0 auto;
    padding: 0 50px;

}
.logoPIC{
    display: grid;
    width: 10rem;
    float: left;
    position: relative;
    top: -2.5rem;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;


}
.navbar__item{
    height: 80px;

}
.navbar_links{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100%;
    transition: all .3s ease;
}

.navbar_links:hover{
    color: #499557;
    transition: all .4s ease;

}
@media screen and (max-width:1250px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 150px;
        z-index: 1;
        width: 100%;
        max-width: 1100px;
        padding: 0;
        align-items: center;
    }
    .navbar_menu{
        display: grid;
        margin: 0;
        position:absolute;
        top: -1000px;
        opacity: 1;
        transition: all .3s ease;
        z-index: -1;
        float: right;


    }
    .logoPIC{
        width: 10rem;
        float: left;
        margin-right: 10px;
        top: .2rem;
navbar_links
    }
    .navbar_menu.active{
        background: rgba(35,54,111,.95);
        top:100%;
        opacity: 1;
        transition: all .5s ease;
        z-index: 99;
        height: 100vh;
        font: 1.6rem;
        width: 25rem;
        float: right;
    }
    .navbar__item{
        width: 100%;
        align-items: center;

    }
    .navbar_links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
        align-items: center;


    }
    .navbar__btn{
        padding-bottom: 2rem;


    }

    /* handling classes and formatting JS inclusions */
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
        align-items: center;

    }
    .navbar_toggle .bar{
        width: 30px;
        height:3px;
        margin: 5px auto;
        transition: all .3s ease-in-out;
        display: block;
        cursor: pointer;
        background: #fff;
        align-items: center;

    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        

    }
    .navText{
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }
    

}
.navText{
    color: #fff;
    justify-content: center;
    text-align: center;
}

/* footer Items */
.footer_container{
    background-color: rgba(35,54,111,.95);
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#footer-logo{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.footer_links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;

}
.footerCopyright{
    color: white;
}

.footer_link--wrapper{
    display: flex;
}
.footer_link--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: .5rem;
    text-align: left;
    width: 10rem;
    box-sizing: border-box;

}
.footer_link--items h2{
    margin-bottom: 1rem;
    color: #fff;


}
.footer_link--items a{
    color: white;
    text-decoration: none;
    margin-bottom: .5rem;
    transition: .5s ease-out;
}
.footer_link--items a:hover{
    transition: .5s ease-out;
    color: #499557;
}
@media screen and (max-width:900px){
    .footer_links{
        padding-top: 2rem;

    }
    #footer-logo{
        margin-bottom: 2rem;

    }
    .Website_rights{
        margin-bottom: 2rem;

    }
    .footer_link--wrapper{
        flex-direction: column;

    }
    .social_media--wrap{
        flex-direction: column;

    }
    
}
@media screen and (max-width:400px){
    .footer_link--items{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    
}

/* Index page css */
.CarbonFootprintExplained{
    margin-top: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: .3s ease-in-out;
}
.CarbonFootprintExplained:hover{
    box-shadow: 2px -5px 62px -11px rgba(0,0,0,0.75);
}
.indexTextContainer{
    display: grid;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: .5rem;
    box-sizing: border-box;
    border: .1rem;
    border-style: ridge;
    box-shadow: 2px -5px 62px -11px rgba(0,0,0,0.75);
    padding: 1rem;
    background-color: #499557;
    color: #fff;

}

/* style for the house page  */
.imgHouse{
    display: grid;
    width: 100%;
    height: 25rem;
    margin-top: .5rem;
    border-radius: 2rem;
}
/* the cards */
.card {
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 1rem;
    border-color: rgb(33, 36, 35);
    width: 300px;
    height: 350px;
    color: #fff;
    background: rgba(35,54,111,.95);
    transition: 1s ease-in-out;
    margin:.35rem;
    }
    
    .card p{
        color: #fff;
        margin: 1rem;
    }
    .card_container :nth-child(even){
        background: #499557;

    }

    .card:hover{
        transition: 1s ease-in-out;
        scale: 1.03;
    }
    .card_container{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr  1fr;
        transition: 1s;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    
    
    @media screen and (max-width:1300px){
        .card_container{
            grid-template-columns: 1fr 1fr;
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        .card{
            justify-content: center;
            align-items: center;
            margin:1rem;
        }
        .schoolCardsContainer{
            display: grid;
            grid-template-columns:1fr;

        }
    }
    @media screen and (max-width:750px){
        .card_container{
            grid-template-columns:1fr;
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        .card{
            justify-content: center;
            align-items: center;
            margin:1rem;
        }
    }
    #darkmode{
        padding: 10px;
        background-color: #499557;
        color: #fff;
        border-radius: 1rem;

    }
    .heaterPic{
        width: 9rem;
    }
    .unplug{
        width: 9rem;
    }
    .Energy{
        width: 8.5rem;
    }
    .SchoolIMG{
        align-items: center;
        justify-content: center;
        margin: 1rem;
        width: 35rem;
        box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
    }
    .headerContainerSchool{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textcontainer{
        border: .1px;
        border-style: ridge;
        text-align: center;
        padding: 10px;
        background-color: #499557;
        margin: 1rem;
        font-size: x-large;
        color: #fff;
        box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
        height: 10rem;
    }
    .schoolCardsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .newcard{
        margin: .5rem;
        background-color:#499557;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
        border-radius: 5px;
        height: 15rem;

    }
    .newcard p{
        color: #fff;
        font-size: 1.15rem;
        margin: .5rem;
        text-align: center;
    }
    .schoolCardsContainer :nth-child(3){
        background-color: rgba(35,54,111,.95);
    }
    .schoolCardsContainer :nth-child(4){
        background-color: rgba(35,54,111,.95);
    }
    .cardIMGSchool{
        width: 5rem;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width:1300px){
        .schoolCardsContainer{
            display: grid;
            grid-template-columns:1fr;

        }
        .textcontainer{
            transition: .3s ease-in-out;
            font-size: large;
        }
        .SchoolIMG{
            transition: .5s ease-in-out;
            width: 15rem;

        }
        .CarbonFootprintExplained{
            width: 30rem;
        }
    }
    li{
        margin: 1rem;
    }
    .cardIMGcity{
        width: 8rem;
    }
    .button{
        padding: 10px;
        background-color: #499557;
        color: #fff;
        border-radius: 1rem;
    }
    .TextKitchen{
        font-size: 1.3rem;
        text-align: center;
    }
    #imagecontainer{
        max-width: 10rem;
        width: 9rem;
        margin: 1rem;
    }
    #slider {
        position: relative;
        width: 500px;
        height: 265px;
        margin: 1rem;
        overflow: hidden;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      }
      #slider ul {
        position: relative;
        list-style: none;
        height: 100%;
        width: 10000%;
        padding: 0;
        margin: 0;
        transition: all 750ms ease;
        left: 0;
      }
      #slider ul li {
        position: relative;
        height: 100%;
      
        float: left;
      }
      #slider ul li img{
        width: 500px;
        height: 265px;
      }