/* The Color Scheme

Blue, Green, and white:
blue=rgba(35,54,111,.95);
Green = #499557
white 

*/
.current{
    text-decoration:overline underline;
}
.navbar{
    background: rgba(35,54,111,.95);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    height: 80px;
    z-index:1;
    width:100%;
    max-width: 1300px;
    margin:0 auto;
    padding: 0 50px;

}
.logoPIC{
    display: grid;
    width: 10rem;
    float: left;
    position: relative;
    top: -2.5rem;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;


}
.navbar__item{
    height: 80px;

}
.navbar_links{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100%;
    transition: all .3s ease;
}

.navbar_links:hover{
    color: #499557;
    transition: all .4s ease;

}
@media screen and (max-width:1250px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 150px;
        z-index: 1;
        width: 100%;
        max-width: 1100px;
        padding: 0;
        align-items: center;
    }
    .navbar_menu{
        display: grid;
        margin: 0;
        position:absolute;
        top: -1000px;
        opacity: 1;
        transition: all .3s ease;
        z-index: -1;
        float: right;


    }
    .logoPIC{
        width: 10rem;
        float: left;
        margin-right: 10px;
        top: .2rem;
navbar_links
    }
    .navbar_menu.active{
        background: rgba(35,54,111,.95);
        top:100%;
        opacity: 1;
        transition: all .5s ease;
        z-index: 99;
        height: 100vh;
        font: 1.6rem;
        width: 25rem;
        float: right;
    }
    .navbar__item{
        width: 100%;
        align-items: center;

    }
    .navbar_links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
        align-items: center;


    }
    .navbar__btn{
        padding-bottom: 2rem;


    }

    /* handling classes and formatting JS inclusions */
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
        align-items: center;

    }
    .navbar_toggle .bar{
        width: 30px;
        height:3px;
        margin: 5px auto;
        transition: all .3s ease-in-out;
        display: block;
        cursor: pointer;
        background: #fff;
        align-items: center;

    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        

    }
    .navText{
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }
    

}
.navText{
    color: #fff;
    justify-content: center;
    text-align: center;
}

/* footer Items */
.footer_container{
    background-color: rgba(35,54,111,.95);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#footer-logo{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.footer_links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;

}
.footerCopyright{
    color: white;
}

.footer_link--wrapper{
    display: flex;
}
.footer_link--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    text-align: left;
    width: 10rem;
    box-sizing: border-box;

}
.footer_link--items h2{
    margin-bottom: 1rem;
    color: #fff;


}
.footer_link--items a{
    color: white;
    text-decoration: none;
    margin-bottom: .5rem;
    transition: .5s ease-out;
}
.footer_link--items a:hover{
    transition: .5s ease-out;
    color: #499557;
}
@media screen and (max-width:900px){
    .footer_links{
        padding-top: 2rem;

    }
    #footer-logo{
        margin-bottom: 2rem;

    }
    .Website_rights{
        margin-bottom: 2rem;

    }
    .footer_link--wrapper{
        flex-direction: column;

    }
    .social_media--wrap{
        flex-direction: column;

    }
    
}
@media screen and (max-width:400px){
    .footer_link--items{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    
}

/* Index page css */
.CarbonFootprintExplained{
    margin-top: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: .3s ease-in-out;
}
.CarbonFootprintExplained:hover{
    box-shadow: 2px -5px 62px -11px rgba(0,0,0,0.75);
}
.indexTextContainer{
    display: grid;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: .5rem;
    box-sizing: border-box;
    border: .1rem;
    border-style: ridge;
    box-shadow: 2px -5px 62px -11px rgba(0,0,0,0.75);
    padding: 1rem;
    background-color: #499557;
    color: #fff;

}